body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.main p {

    font-size: calc(1.2rem + 0.5vh);
}


#main-button {

    padding-top: 2rem;
    padding-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;


    text-align: center;
    /* display: flex;
    justify-content: center; */

}


.footer {

    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;



}
.body {
    display: block;
}
